 body {background-image: url('wall.jpg');}

#parent_div_1, #parent_div_2, #parent_div_3 {width: 550px;height: 500px;margin-left: 50px;float: left;}

#info {margin-right: 100px;float:left;}

.child_div_1 {float: left;margin-bottom: 5px;}

.spacer {margin-top: 2%;margin-bottom: 2%;}      
 
.block {min-height: 160px;padding-top: 15px;background-color:Orange  ;} 

.center {position: absolute;left: 0;right: 0;margin: auto; }

h3{word-wrap: break-word;width: 500px;}
