body {background-image: url('wall.jpg');}

#logo {height:50px;}

.spacer {margin-top: 2%;margin-bottom: 2%;}      
 
.block {min-height: 160px;padding-top: 15px;background-color:#333333 ;} 

.center {position: absolute;left: 0;right: 0;margin: auto;  }
  